version: 2
updates:
  - package-ecosystem: maven
    directory: /
    schedule:
      interval: daily
    target-branch: main
    labels:
      - "chore"
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    target-branch: main
    labels:
      - "chore"